{% extends "webapp/base.html" %}

{% block content %}
    <h5> Welcome to the dashboard page! {{user}}</h5>

    <hr>

    <a href="{% url 'create-record'%}" class="btn btn-outline-primary btn-sm">
        Create a new record
    </a>

    <hr>


    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Full Name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phno </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col"> Province </th>
                <th scope="col"> Country </th>

                <th scope="col"> Date joined </th>

                <th scope="col"> View </th>
            </tr>
        </thead>

        <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td> {{record.id}} </td>
                        <td> {{record.first_name}} {{record.last_name}} </td>
                        <td> {{record.email}} </td>
                        <td> {{record.phone}} </td>
                        <td> {{record.address}} </td>
                        <td> {{record.city}} </td>
                        <td> {{record.province}} </td>
                        <td> {{record.country}} </td>

                        <td> {{record.creation_date}} </td>
                        <td> <a href="{% url 'record' record.id %}"><i class="fa-solid fa-eye"></i></a> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <!-- {% for record in records %}

        {{record.id}}

        {{record.first_name}}

        {{record.last_name}}

    {% endfor%} -->
{% endblock %}